In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
titanic = sns.load_dataset("titanic")
df = titanic.copy()
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

# Mann Whitney U Test
**Amaç:** İki bağımsız grubun medyanlarını karşılaştırmak. Örneğin, kadın ve erkek yolcuların yaşları arasında fark olup olmadığını test etmek.

In [7]:
male_ages = df[df["sex"] == "male"]["age"].dropna()
male_ages.info()

<class 'pandas.core.series.Series'>
Index: 453 entries, 0 to 890
Series name: age
Non-Null Count  Dtype
--------------  -----
453 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [8]:
female_ages = df[df["sex"] == "female"]["age"].dropna()
female_ages.info()

<class 'pandas.core.series.Series'>
Index: 261 entries, 1 to 887
Series name: age
Non-Null Count  Dtype
--------------  -----
261 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [9]:
from scipy.stats import mannwhitneyu

In [10]:
u_stat, p_value = mannwhitneyu(male_ages, female_ages)
print(f"U-statistic: {u_stat}, P-value: {p_value}")

U-statistic: 65020.5, P-value: 0.026087746884279634

# Kruskal-Wallis H Test
**Amaç:** Üç veya daha fazla bağımsız grubun medyanlarını karşılaştırmak. Örneğin, farklı sınıflardaki (1., 2., 3. sınıf) yolcuların ücretleri arasında fark olup olmadığını test etmek.

In [11]:
from scipy.stats import kruskal

In [13]:
first_class_fare = titanic[titanic['pclass'] == 1]['fare'].dropna()
second_class_fare = titanic[titanic['pclass'] == 2]['fare'].dropna()
third_class_fare = titanic[titanic['pclass'] == 3]['fare'].dropna()

In [15]:
h_stat, p_value = kruskal(first_class_fare, second_class_fare, third_class_fare)
print(f"H-statistic: {h_stat}, P-value: {p_value}")

H-statistic: 438.0437034212556, P-value: 7.586096900646798e-96